vs/.vs/Grafika Komputer dan Visualisasi/v16/Browse.VC.opendb
vs/.vs/Grafika Komputer dan Visualisasi/v15/Browse.VC.opendb
vs/.vs/Grafika Komputer dan Visualisasi/v16/.suo
vs/.vs/Grafika Komputer dan Visualisasi/v16/Browse.VC.db

